/* ==========================================================================
   GENERAL STYLES
   ========================================================================== */
@font-face {
  font-family: "Suisse";
  src: url("../fonts/Suisse\ Intl/SuisseIntl-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Suisse";
  src: url("../fonts/Suisse\ Intl/SuisseIntl-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Suisse";
  src: url("../fonts/Suisse\ Intl/SuisseIntl-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Suisse";
  src: url("../fonts/Suisse\ Intl/SuisseIntl-Book.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Suisse";
  src: url("../fonts/Suisse\ Intl/SuisseIntl-Bold.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Suisse";
  src: url("../fonts/Suisse\ Intl/SuisseIntl-Black.otf");
  font-weight: 900;
}
/* ==========================================================================
   OVERRIDING DEFAULT STYLES
   ========================================================================== */
// input:focus ~ label,
// input:valid ~ label {
//   top: 0;
//   left: 0.5rem;
//   z-index: 2;
//   background-color: white;
//   font-size: 0.75rem;
//   color: #535283;
//   padding: 2px 4px;
// }

/* ==========================================================================
   SMALL COMPONENTS
   ========================================================================== */
.label-dropdown {
  &[aria-expanded="true"],
  li[aria-expanded="true"] {
    height: auto;
  }
  button[aria-expanded="true"] + ul {
    display: block;
  }
  button[aria-expanded="true"] svg {
    transform: rotate(-180deg);
  }
  > ul {
    padding-right: 1rem;
  }
  ul {
    width: 100%;
  }

  li {
    color: black;

    padding-left: 1rem;
    list-style-type: none;
    width: 100%;
  }
}
.scrollbar {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1a2936;

    background-image: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      color-stop(0.5, #1a2936),
      color-stop(0.5, transparent),
      to(transparent)
    );
  }
}
.link-overlay {
  position: static !important;

  &:before {
    content: "";
    cursor: inherit;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
}
.add-task-sidebar {
  .item {
  }
  .children {
  }
  .done {
    // Finished
    font-weight: 500;
  }
  .pending {
    // To be worked
  }
  .working {
    //Currently editing
    font-weight: 500;
  }
}
