@font-face {
  font-family: "Suisse";
  src: url("../fonts/Suisse\ Intl/SuisseIntl-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Suisse";
  src: url("../fonts/Suisse\ Intl/SuisseIntl-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Suisse";
  src: url("../fonts/Suisse\ Intl/SuisseIntl-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Suisse";
  src: url("../fonts/Suisse\ Intl/SuisseIntl-Book.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Suisse";
  src: url("../fonts/Suisse\ Intl/SuisseIntl-Bold.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Suisse";
  src: url("../fonts/Suisse\ Intl/SuisseIntl-Black.otf");
  font-weight: 900;
}

.label-dropdown {
  &[aria-expanded="true"],
  li[aria-expanded="true"] {
    height: auto;
  }
  button[aria-expanded="true"] + ul {
    display: block;
  }
  button[aria-expanded="true"] svg {
    transform: rotate(-180deg);
  }
  ul {
    width: 100%;
  }
  li {
    color: black;
    padding-left: 1rem;
    list-style-type: none;
    width: 100%;
  }
}

input:focus ~ label,
input:valid ~ label {
  top: 0;
  left: 0.5rem;
  z-index: 2;
  background-color: white;
  font-size: 0.75rem;
  color: #535283;
  padding: 2px 4px;
}
